* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#mainBody {
  min-height: 100%;
  width: 100%;
  position: relative;
}
#mainBody nav {
  height: 95px;
  width: 100%;
  display: flex;
}
#mainBody nav #logoBox {
  flex-shrink: 0;
  height: 55px;
  width: 217px;
  margin: 38px auto auto 58px;
  background-image: url(../images/logoA.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#mainBody nav #linkBox_desktop {
  display: flex;
  margin-bottom: 0;
  margin-top: auto;
  margin-right: 50px;
}
#mainBody nav #linkBox_desktop a {
  font-size: 25px;
  font-family: "cavReg";
  color: black;
  text-decoration: none;
  margin-left: 15px;
}
#mainBody nav #linkBox_desktop a #loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 158px;
  background-color: #FFD972;
  border-radius: 30px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
#mainBody nav #linkBox_desktop a .selected {
  width: 80%;
  border-bottom: 4px solid black;
}
#mainBody nav #linkBox_mobil {
  display: none;
  flex-shrink: 0;
  height: 25px;
  width: 32px;
  background-image: url(../images/icon/menu_icon.png);
  background-position: center;
  background-size: cover;
  margin: 45.5px 38px auto auto;
}
#mainBody #contentBody {
  min-height: 80%;
  width: 100%;
  margin-top: 100px;
}
#mainBody footer {
  position: absolute;
  bottom: 0;
  height: 44px;
  width: 100%;
}
#mainBody footer #footer_desktop {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
#mainBody footer #footer_desktop #copyRight {
  font-size: 15px;
  font-weight: lighter;
  font-family: "latoItal";
  color: #393939;
  margin-left: 40px;
}
#mainBody footer #footer_desktop #footerLinks {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
#mainBody footer #footer_desktop #footerLinks a {
  font-size: 15px;
  text-decoration: none;
  font-family: "latoItal";
  color: #393939;
}
#mainBody footer #footer_desktop #footerLinks_mobile {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
#mainBody footer #footer_desktop #footerLinks_mobile a {
  font-size: 15px;
  text-decoration: none;
  font-family: "latoItal";
  color: #393939;
}
#mainBody footer #footer_desktop #socialMedia {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-right: 40px;
}
#mainBody footer #footer_desktop #socialMedia a img {
  height: 19px;
  aspect-ratio: 1 1;
}
#mainBody footer #footer_mobile {
  display: none;
  height: 100%;
  width: 318px;
  margin: 0 auto auto auto;
}
#mainBody footer #footer_mobile #footer_topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#mainBody footer #footer_mobile #footer_topBar #copyRight {
  margin-left: 0;
  font-size: 10px;
}
#mainBody footer #footer_mobile #footer_topBar #socialMedia {
  margin-right: 0;
  font-size: 10px;
}
#mainBody footer #footer_mobile #footerLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#menu_mobile {
  position: absolute;
  display: none;
  background-color: white;
  height: 150px;
  width: 140px;
  top: 72px;
  right: 38px;
  border: 5px solid black;
  border-radius: 5px;
}
#menu_mobile #links_mobile {
  display: flex;
  flex-direction: column;
}
#menu_mobile #links_mobile a {
  text-decoration: none;
  font-size: 20px;
  text-indent: 10px;
  height: 30px;
  border-bottom: 2px solid black;
  color: black;
}

@media (max-width: 980px) {
  #mainBody nav #logoBox {
    height: 47px;
    margin: 38px auto auto 38px;
  }
  #mainBody nav #linkBox_desktop {
    display: none;
  }
  #mainBody nav #linkBox_mobil {
    display: inline;
  }
  #mainBody footer #copyRight {
    font-size: 10px;
    font-family: "latoItal";
    color: #393939;
    margin-left: 40px;
  }
  #mainBody footer #footerLinks {
    display: flex;
    justify-content: space-between;
    gap: 18px;
  }
  #mainBody footer #footerLinks a {
    font-size: 10px;
    text-decoration: none;
    font-family: "latoItal";
    color: #393939;
  }
  #mainBody footer #footerLinks_mobile {
    display: flex;
    justify-content: space-between;
    gap: 18px;
  }
  #mainBody footer #footerLinks_mobile a {
    font-size: 10px;
    text-decoration: none;
    font-family: "latoItal";
    color: #393939;
  }
  #mainBody footer #socialMedia {
    display: flex;
    justify-content: space-between;
    gap: 20.5px;
    margin-right: 40px;
  }
  #mainBody footer #socialMedia a img {
    height: 19px;
    aspect-ratio: 1 1;
  }
}
@media (max-width: 700px) {
  #mainBody nav #logoBox {
    height: 47px;
    margin: 30px auto auto 30px;
  }
  #mainBody nav #linkBox_desktop {
    display: none;
  }
  #mainBody nav #linkBox_mobil {
    display: block;
  }
  #mainBody footer {
    height: 92px;
  }
  #mainBody footer #footer_desktop {
    display: none;
  }
  #mainBody footer #footer_mobile {
    display: block;
  }
}
.page_home {
  background-image: linear-gradient(rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}
.page_home #homeBody {
  position: relative;
  height: 401.9px;
  width: 441.9px;
  margin-left: auto;
  margin-right: auto;
}
.page_home #homeBody #bigCircle {
  height: 357.5px;
  width: 357.5px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFD972;
  border-radius: 50%;
}
.page_home #homeBody #bigCircle h2 {
  font-size: 24px;
  font-family: "cavBol";
}
.page_home #homeBody #bigCircle #titleText {
  display: flex;
  height: auto;
  width: 164px;
  text-align: center;
  bottom: 97px;
  font-size: 13px;
  font-family: "latoReg";
}
.page_home #homeBody #smallCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  height: 168px;
  width: 168px;
  background-color: #FCBCB8;
  border-radius: 50%;
}
.page_home #homeBody #smallCircle p {
  height: auto;
  width: 106px;
  text-align: center;
  font-size: 10px;
  font-family: "latoItal";
}

@media (max-width: 700px) {
  .page_home #homeBody {
    height: 327px;
    width: 258px;
  }
  .page_home #homeBody #bigCircle {
    height: 257px;
    width: 257px;
  }
  .page_home #homeBody #bigCircle h2 {
    font-size: 17px;
  }
  .page_home #homeBody #bigCircle #titleText {
    height: auto;
    width: 114px;
    font-size: 9px;
  }
  .page_home #homeBody #smallCircle {
    height: 121px;
    width: 121px;
  }
  .page_home #homeBody #smallCircle p {
    height: auto;
    width: 82px;
    font-size: 9px;
  }
}
.page_login {
  background-color: #FFD972;
}

#loginBody {
  display: flex;
  justify-content: space-evenly;
  gap: 250px;
  align-items: center;
  height: auto;
  width: 100%;
}
#loginBody .submite_Btm {
  height: 52px;
  width: 100%;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: #FFD972;
  font-size: 25px;
  font-family: "cavReg";
}
#loginBody input {
  height: 15px;
  width: 100%;
  margin-bottom: 52px;
  outline: none;
  background-color: #FFD972;
  border: none;
  border-bottom: 3px solid black;
}
#loginBody input::placeholder {
  font-size: 12px;
  color: black;
  font-family: "latoReg";
}
#loginBody #loginBlock {
  width: 207px;
}
#loginBody #loginBlock h2 {
  font-size: 30px;
  font-family: "latoReg";
  font-weight: normal;
  margin-bottom: 60px;
}
#loginBody #loginBlock #login_Fail {
  display: none;
  color: red;
  font-family: "latoReg";
}
#loginBody #signUpBlock {
  width: 207px;
}
#loginBody #signUpBlock h3 {
  font-size: 12px;
  font-family: "latoItal";
  font-weight: normal;
  margin-bottom: 0px;
}
#loginBody #signUpBlock h2 {
  font-size: 30px;
  font-family: "latoReg";
  font-weight: normal;
  margin-bottom: 60px;
}
#loginBody #signUpBlock #field_fail {
  margin-bottom: 10px;
  display: none;
}
#loginBody #signUpBlock #field_fail li {
  color: red;
  font-size: 13px;
  font-family: "latoReg";
}

@media (max-width: 980px) {
  #loginBody {
    flex-direction: column;
  }
  #signUpBlock {
    margin-bottom: 173px;
  }
}
@media (max-width: 700px) {
  #signUpBlock {
    margin-bottom: 173px;
  }
}
.create_login {
  background-color: #FFD972;
}

.page_browse {
  background-color: #A7E8BD;
}

@font-face {
  font-family: "cavReg";
  src: url(fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: "cavBol";
  src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: "latoItal";
  src: url(fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: "latoReg";
  src: url(fonts/Lato-Regular.ttf);
}
