
@font-face{
    font-family: "cavReg";
    src: url(fonts/Caveat-Regular.ttf);
}

@font-face{
    font-family: "cavBol";
    src: url(fonts/Caveat-Bold.ttf);
}

@font-face {
    font-family: "latoItal";
    src: url(fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: "latoReg";
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "latoLite";
    src: url(fonts/Lato-Light.ttf);
}
@font-face {
    font-family: "cavReg";
    src: url(fonts/Caveat-Regular.ttf);
}